header{
    position: fixed;
    z-index: 10;
    height: 10vh;
    width: 100%;
    // opacity: 0;
    @include flexing(center, center, column);
    .cover{
        height: 100%;
        width: 100%;
        @include flexing(center, space-between, row);
        color: $color-white;
        padding-left: 60px;
        padding-right: 30px;
        
        .navlist{
            height: 100%;
            width: 60%;
            // padding-left: 30px;
            @include flexing(center, space-around, row);
            display: none;
            ul{
                height: 100%;
                width: 80%;
                margin: 0;
                padding: 0;
                margin-right: 20px;
                @include flexing(center, space-around, row);
                li{
                    list-style: none;
                    a{
                        font-size: 16px;
                        line-height: 19px;
                        font-family: 'Graphik'; 
                        text-decoration: none;
                        color: $color-white;
                        position: relative;
                        @include media('<desktop'){
                            font-size: 14px;
                        }
                    }
                    .active{
                        color: $color-gold;
                        &::before{
                            content: '';
                            position: absolute;
                            background-color: $color-gold;
                            height: 2px;
                            width: 50%;
                            bottom: -50%;
                            left: 50%;
                            transform: translate3d(-50%, 0, 0);
                        }
                    }
                }
            }
            img{
                height: 24px;
                width: 24px;
            }
        }
        nav{
            width: 25%;
            font-size: 14px;
            @include flexing(center, space-around, row);
            img{
                height: 13px;
                width: 12px;
                margin-right: 10px;
            }
            .hamburgerMenu{
                cursor: pointer;
                padding-top: 5px;
                div{
                    height: 1px;
                    width: 20px;
                    background: $color-white;
                    margin-bottom: 4px;
                }
            }
        }
    }
}
.headerExpand{
    position: fixed;
    display: none;
    top: 10vh;
    height: 90vh;
    width: 100%;
    border-top: 1px solid $color-white-50;
    backdrop-filter: brightness(50%);
    z-index: 10;
    color: $color-white;
    .content{
        padding-left: 60px;
        height: 60%;
        width: 100%;
        background-color: $color-teal-1;
        display: flex;
        flex-basis: 5;
        @include media('<desktop'){
            height: 70%;
        }
        .firstContent{
            padding-top: 40px;
            flex: 1.1;
            border-right: 1px solid $color-white-50;
            h5{
                font-family: 'Starling';
                font-size: 36px;
                line-height: 43px;
                margin-bottom: 10px;
            }
            p{
                width: 80%;
                font-family: 'Graphik';
                line-height: 22px;
                span{
                    justify-self: flex-end;
                }
            }
        }
        .middleContent{
            padding-top: 35px;
            padding-bottom: 30px;
            flex: 1.2;
            height: 100%;
            border-right: 1px solid $color-white-50;
            @include flexing(flex-start, flex-start, column);
            .active{
                background: $color-gold-hover;
            }
            .navPod{
                cursor: pointer;
                width: 100%;
                padding: 10px 20px;
                @include flexing(center, space-between, row);
                p{
                    font-family: 'Graphik-Regular';
                    font-size: 18px;
                    @include media('<desktop'){
                        font-size: 15px;
                    }
                }
            }
        }
        .middleContent2{
            padding-top: 35px;
            padding-bottom: 30px;
            flex: 1;
            border-right: 1px solid $color-white-50;
            .drop{
                display: none;
                p{
                    width: 100%;
                    padding: 10px 20px;
                }
            }
            .active{
                @include flexing(flex-start, space-around, column);
            }
        }
        .imgContent{
            flex: 1.1;
            background: url('../assets/images/navBg.png');
            background-size: cover;
            background-position: center;
        }
    }
}

.displayedExpand{
    display: block;
}
.displayedNav{
    display: flex;
}