
.intro{
    color: $color-gold;
    // position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
    h1{
        font-family: 'LT_5502';
        font-size: 60px !important;
    }
}