
.landingCover{
    height: 100%;
    width: 100%;
    background: url('./../assets/images/boat1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:0 center;
    // mask: url('../assets/landingFlower.svg');
    // mask-size: 0%;
    // mask-repeat: no-repeat;
    // mask-position: center;
}

.darkBackground{
    backdrop-filter: brightness(70%);
    height: 100%;
    width: 100%;
    .cover{
        height: 100%;
        width: 100%;
        // background: #000;
        padding-left: 40px;
        @include flexing(flex-end, space-between, row);
        color: $color-gray-light;
        .left-text{
            width: 50%;
            padding-bottom: 50px;
        }
        .rightContent{
            width: 30%;
            // padding-top: 0px;
            height: 100%;
            background-color: $color-teal-1;
            // transform: translate3D(100%,0,0);
            @include flexing(flex-end, flex-end, column);
            .cont{
                height: 50%;
                @include flexing(center, center, row);
                width: 100%;
                // .icon{
                //     // opacity: 0;
                // }
                .cover{
                    height: 60%;
                    width: 90%;
                    @include flexing(flex-start, center, column);
                    padding-left: 40px;
                    position: relative;
                    img{
                        height: 39px;
                        width: 25px;
                        @include media('<desktop'){
                            height: 30px;
                            width: 18px;
                        }
                    }
                    .icon2{
                        width: 43px;
                        @include media('<desktop'){
                            width: 38px;
                        }
                    }
                    .text{
                        margin-top: 30px;
                        h5{
                            font-family: 'Starling';
                            font-style: normal;
                            font-weight: 350;
                            font-size: 40px;
                            line-height: 58px;
                        }
                        p{
                            font-size: 14px;
                            color: $color-white-50;
                            @include media('>laptop'){
                                font-size: 16px;
                            }
                        }
                    }
                    .btn{
                        position: absolute;
                        bottom: -18%;
                        right: 5%;
                        margin-right: 20px;
                        height: 40px;
                        width: 40px;
                        border-radius: 50px;
                        border: 1px solid $color-white;
                        @include flexing(center, center, row);
                        color: $color-white;
                        cursor: pointer;
                        @include media('>laptop'){
                        }
                    }
                }
            }
            .bottom{
                background-color: $color-teal-2;
            }
        }
    }
}