.window{
    // background: url('../assets/background.svg');
    background-size: cover;
    color: $color-black;
    height: 160vh;
    position: relative;
    svg{
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.1;
        z-index: -1;
    }
    .section2Cover{
        margin-top: 200px;
        height: 100%;
        width: 100%;
        @include flexing(flex-start, space-between, column);
        .text{
            padding-left: 80px;
            width: 65%;
            height: 18%;
            h3{
                font-size: 55px;
                line-height: 60px;
            }
            @include media('>=desktop'){
                width: 65%;
                padding-left: 100px;
                h3{
                    font-size: 80px;
                    line-height: 90px;
                }
            }
        }
        .circleExpand{
            height: 75%;
            width:100%;
            @include flexing(center, center, row);
            .circle{
                height: 500px;
                width: 500px;
                border-radius: 50%;
                overflow: hidden;
                background: url('../assets/images/landscape.jpg');
                background-size: cover;
                position: relative;
                color: $color-white;
                @include flexing(center, center, row);
                .cover{
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    backdrop-filter: blur(1px) brightness(90%);
                    z-index: 0;
                }
                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 90%;
                    width: 90%;
                    z-index: 1;
                }
                h6{
                    z-index: 1;
                    width: 40%;
                    text-align: center;
                }
            }
            @include media('>=desktop'){
                .circle{
                    height: 800px;
                    width: 800px;
                }
            }
        }
    }
}