.awards{
    background-color: #000;
    color: $color-white;
    @include flexing(center, space-around, column); 
    padding-top: 85px;
    @include media('<desktop'){
        padding-top: 50px;
    }
    .heading{
        width: 60%;
        text-align: center;
        @include flexing(center, center, row);
        @include media('<desktop'){
            h1{
                line-height: 120px;
            }
        }
    }
    .awardsBody{
        height: 45%;
        @include flexing(center, space-around, row);
        flex-wrap: wrap;
        padding-bottom: 80px;
        width: 80%;
        .cover{
        @include flexing(center, center, row);
            height: 25%;
            width: 30%;
            img{
                height: 50%;
                width: 60%;
                // background: #fff;
                object-fit: contain;
                object-position: center;
            }
        }
    }
}