.stories{
    color: $color-white;
    text-align: right;
    flex-direction: column;
    height: 138vh;
    position: relative;
    svg{
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.1;
        z-index: 0;
    }
    .heading{
        z-index: 1;
        padding-top: 110px;
        padding-right: 40px;
        @include media('<desktop'){
            padding-top: 80px;
            padding-right: 10px;
        }
        h1{
            line-height: 168px;
            @include media('<desktop'){
                line-height: 110px;
            }
        }
        p{
            font-family: 'Graphik';
            font-size: 30px;
            line-height: 38px;
            text-transform: capitalize;
            margin-bottom: 35px;
            @include media('<=laptop'){
                font-size: 20px;
                line-height: 26px;
            }
        }
    }
    .storiesBody{
        height: 70%;
        width: 100%;
        width: 100%;
        z-index: 1;
        position: relative;
        cursor: none;
        margin-bottom: 20px;
        .customStoriesCursor{
            position: absolute;
            height: 120px;
            width: 120px;
            border-radius: 50%;
            color: $color-white;
            background: $color-gold;
            z-index: 5;
            top: 50%;
            left: 10%;
            transform: translate(-50%, -50%);
            @include flexing(center, center, row);
            p{
                font-size: 16px;
                line-height: none;
                margin-bottom: none !important;
            }
        }
        .imgCover{
            height: 82%;
            width: 28%;
            top: 8%;
            position: absolute;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
                // transform: translate3d(0, 50px, 0);
            }
        }
        .img1{
            left: 16%;
            height: 72%;
            top: 50%;
            transform: translate(0,-50%) rotateZ(3deg);
            width: 25%;
        }
        .img2{
            left: 50%;
            transform: translateX(-50%);
            z-index: 3;
        }
        .img3{
            left: 60%;
            height: 73%;
            width: 25%;
            top: 50%;
            transform: translate(0,-50%) rotateZ(-3deg);
        }
        @include media('>desktop'){
            height: 60%;
            font-size: 30px;
            line-height: 38px;
            margin-bottom: 0;
            .imgCover{
                width: 36%;
            }
            .img1{
                left: 16%;
            }
            .img3{
                left: 50%;
            }
        }
    }
    .storiesBottom{
        font-family: 'Graphik';
        margin-bottom: 80px;
        margin-top: 10px;
        text-transform: capitalize;
        @include media('<desktop'){
            margin-bottom: 40px;
        }
    }
    @include media('>desktop'){
        h1{
            line-height: 168px;
        }
        p{
            font-size: 30px;
        }
            
    }
}