/* scss variables */
@font-face {
  font-family: 'Arial';
  src: url("../assets/Fonts/Arial.ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'Arial';
  src: url("../assets/Fonts/Arial Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'Graphik-Regular';
  src: url("../assets/Fonts/Graphik-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: 'Graphik-Black';
  src: url("../assets/Fonts/Graphik-Black.otf");
  font-weight: normal;
}

@font-face {
  font-family: 'Graphik-Bold';
  src: url("../assets/Fonts/Graphik-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: 'Graphik';
  src: url("../assets/Fonts/Graphik-Extralight.otf");
  font-weight: lighter;
}

@font-face {
  font-family: 'Graphik-light';
  src: url("../assets/Fonts/Graphik-Light.otf");
  font-weight: 200;
}

@font-face {
  font-family: 'Graphik-Medium';
  src: url("../assets/Fonts/Graphik-Medium.otf");
  font-weight: 400;
}

@font-face {
  font-family: 'Graphik-semiBold';
  src: url("../assets/Fonts/Graphik-Semibold.otf");
  font-weight: 600;
}

@font-face {
  font-family: 'Graphik-Super';
  src: url("../assets/Fonts/Graphik-Super.otf");
  font-weight: 700;
}

@font-face {
  font-family: 'Graphik-Thin';
  src: url("../assets/Fonts/Graphik-Thin.otf");
  font-weight: 300;
}

@font-face {
  font-family: 'LT_5500';
  src: url("../assets/Fonts/LT_55700.ttf");
}

@font-face {
  font-family: 'LT_5501';
  src: url("../assets/Fonts/LT_55701.ttf");
}

@font-face {
  font-family: 'LT_5502';
  src: url("../assets/Fonts/LT_55702.ttf");
}

@font-face {
  font-family: 'Starling';
  src: url("../assets/Fonts/Starling-Book.otf");
  font-weight: 500;
}

ul, ol, pre {
  margin: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: 'Starling';
}

/* headings */
h1 {
  font-weight: 350;
  font-size: 160px;
  line-height: 168px;
}

h2 {
  font-weight: 350;
  font-size: 80px;
  line-height: 88px;
}

h3 {
  font-family: 'Graphik';
  font-weight: 300;
  font-size: 80px;
  line-height: 88px;
}

h4 {
  font-family: 'Graphik';
  font-weight: 300;
  font-size: 60px;
  line-height: 68px;
}

h5 {
  font-family: 'Graphik-Medium';
  font-size: 55px;
  line-height: 120%;
}

h6 {
  font-family: 'Graphik';
  font-size: 40px;
  line-height: 48px;
}

p {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

@media (min-width: 1026px) and (max-width: 1439px) {
  h1 {
    font-size: 100px;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 1px;
}

*::-webkit-scrollbar-track {
  background: #1F4753;
}

*::-webkit-scrollbar-thumb {
  background: #C78F66;
  border-radius: 20px;
  -webkit-transition: ease 0.8s;
  transition: ease 0.8s;
}

*::-webkit-scrollbar-thumb:hover {
  background: #c78e66bc;
}

body {
  overscroll-behavior: none;
  overflow: hidden;
  color: #2a2a2a;
  font-family: 'Graphik';
}

.container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .wrapper {
  height: 100%;
  width: 100%;
  padding-left: 20px;
}

.coloredBg {
  background-color: #07424D;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #ffffff;
  color: #07424D;
  font-family: 'Graphik-Light';
  font-size: 14px;
  font-weight: 200;
  border-radius: 50px;
  padding: 8px 18px;
  cursor: pointer;
}

.logo {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'LT_5500';
  text-transform: uppercase;
}

.logo img {
  margin-right: 5px;
}

.text {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  cursor: default;
}

#outsideSvg {
  display: none;
}

.cardSliderContent {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.cardSliderContent .cardSliderCover {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 100px;
}

.cardSliderContent .cardSliderCover .cardSlider {
  height: 100%;
  width: 250px;
  margin-right: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1365px) {
  .cardSliderContent .cardSliderCover .cardSlider {
    width: 400px;
    height: 90%;
  }
}

.cardSliderContent .cardSliderCover .active {
  background: #C78F66;
  border: none;
}

.link {
  color: #e0e0e0;
  cursor: pointer;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  position: relative;
}

.link:hover {
  color: #2a2a2a;
}

.activeLink {
  color: #2a2a2a;
}

.activeLink::before {
  content: '';
  position: absolute;
  bottom: -10%;
  left: 0;
  height: 1px;
  width: 100%;
  background: #C78F66;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

form {
  height: 100%;
  width: 100%;
  max-height: 600px;
  font-size: 16px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form .formDropDowns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

form .formDropDowns input {
  width: 48%;
}

form input {
  height: 40px;
  width: 100%;
  border: 1px solid #e0e0e0;
  padding: 5px;
}

form input:focus {
  outline: none;
  border: 1px solid #e0e0e0;
}

form textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
  border: 1px solid #e0e0e0;
  resize: none;
}

form textarea:focus {
  outline: none;
  border: 1px solid #e0e0e0;
}

form button {
  height: 40px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: none;
  background-color: #C78F66;
  color: #ffffff;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
  cursor: pointer;
}

form button:hover {
  background-color: #c78e66bc;
}

.footer {
  height: 45vh;
  width: 100%;
  color: #ffffff;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .sectCover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 80%;
  width: 100%;
}

.footer .sectCover .sect {
  height: 80%;
  width: 18%;
}

.footer .sectCover .sect h6 {
  font-size: 20px;
}

.footer .sectCover .sect p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}

.footer .sectCover .sect:nth-child(3) {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.footer .footerBottom {
  width: 95%;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  color: #5D5D5D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .footerBottom p {
  font-size: 14px;
}

canvas {
  display: block;
}

#threedContainer {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}

header {
  position: fixed;
  z-index: 10;
  height: 10vh;
  width: 100%;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .cover {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #ffffff;
  padding-left: 60px;
  padding-right: 30px;
}

header .cover nav {
  width: 25%;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .cover nav img {
  height: 13px;
  width: 12px;
}

header .cover nav .hamburgerMenu {
  cursor: pointer;
  padding-top: 5px;
}

header .cover nav .hamburgerMenu div {
  height: 1px;
  width: 20px;
  background: #ffffff;
  margin-bottom: 4px;
}

.intro {
  color: #C78F66;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.intro h1 {
  font-family: 'LT_5502';
  font-size: 60px !important;
}

.landingCover {
  height: 100%;
  width: 100%;
  background: url("./../assets/images/boat1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 center;
  -webkit-mask: url("../assets/landingFlower.svg");
          mask: url("../assets/landingFlower.svg");
  -webkit-mask-size: 0%;
          mask-size: 0%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
}

.darkBackground {
  -webkit-backdrop-filter: brightness(70%);
          backdrop-filter: brightness(70%);
  height: 100%;
  width: 100%;
}

.darkBackground .cover {
  height: 100%;
  width: 100%;
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #f5f5f5;
}

.darkBackground .cover .left-text {
  width: 50%;
  padding-bottom: 50px;
}

.darkBackground .cover .rightContent {
  width: 30%;
  padding-top: 40px;
  height: 100%;
  background-color: #07424D;
  -webkit-transform: translate3D(100%, 0, 0);
          transform: translate3D(100%, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.darkBackground .cover .rightContent .cont {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.darkBackground .cover .rightContent .cont .icon {
  opacity: 0;
}

.darkBackground .cover .rightContent .cont .cover {
  height: 70%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 40px;
  position: relative;
}

.darkBackground .cover .rightContent .cont .cover img {
  height: 39px;
  width: 25px;
}

.darkBackground .cover .rightContent .cont .cover .icon2 {
  width: 43px;
}

.darkBackground .cover .rightContent .cont .cover .text {
  margin-top: 30px;
}

.darkBackground .cover .rightContent .cont .cover .text h5 {
  font-family: 'Starling';
  font-style: normal;
  font-weight: 350;
  font-size: 40px;
  line-height: 58px;
}

.darkBackground .cover .rightContent .cont .cover .text p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 1365px) {
  .darkBackground .cover .rightContent .cont .cover .text p {
    font-size: 16px;
  }
}

.darkBackground .cover .rightContent .cont .cover .btn {
  position: absolute;
  bottom: -18%;
  right: 5%;
  margin-right: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #ffffff;
  cursor: pointer;
}

@media (min-width: 1365px) {
  .darkBackground .cover .rightContent .cont .cover .btn {
    bottom: -5%;
  }
}

.darkBackground .cover .rightContent .bottom {
  background-color: #1F4753;
}

.window {
  background-size: cover;
  color: #2a2a2a;
  margin-top: 100px;
  height: 160vh;
}

.window .section2Cover {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.window .section2Cover .text {
  padding-left: 80px;
  width: 56%;
  height: 18%;
}

.window .section2Cover .text h3 {
  font-size: 55px;
  line-height: 60px;
}

@media (min-width: 1440px) {
  .window .section2Cover .text {
    width: 60%;
    padding-left: 100px;
  }
  .window .section2Cover .text h3 {
    font-size: 80px;
    line-height: 98px;
  }
}

.window .section2Cover .circleExpand {
  height: 75%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.window .section2Cover .circleExpand .circle {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  overflow: hidden;
  background: url("../assets/images/landscape.jpg");
  background-size: cover;
  position: relative;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.window .section2Cover .circleExpand .circle .cover {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backdrop-filter: blur(1px) brightness(90%);
          backdrop-filter: blur(1px) brightness(90%);
  z-index: 0;
}

.window .section2Cover .circleExpand .circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 90%;
  width: 90%;
  z-index: 1;
}

.window .section2Cover .circleExpand .circle h6 {
  z-index: 1;
  width: 40%;
  text-align: center;
}

@media (min-width: 1440px) {
  .window .section2Cover .circleExpand .circle {
    height: 800px;
    width: 800px;
  }
}

.slideSection {
  background-color: #f5f5f5;
  height: 140vh;
}

.slideSection .section3Cover {
  height: 100%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slideSection .section3Cover .heading {
  height: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.slideSection .section3Cover .slider {
  height: 75%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slideSection .section3Cover .slider .sliderNav {
  height: 10%;
  width: 50%;
}

.slideSection .section3Cover .slider .sliderNav .cover {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.slideSection .section3Cover .slider .sliderNav p {
  font-size: 18px;
  margin-right: 10px;
}

.slideSection .section3Cover .slider .sliderBody {
  height: 80%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
}

.slideSection .section3Cover .slider .sliderBody .left {
  height: 100%;
  width: 30%;
}

.slideSection .section3Cover .slider .sliderBody .left .sliderBtns {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
}

.slideSection .section3Cover .slider .sliderBody .left .sliderBtns .btn {
  margin-right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  border: 1px solid #C78F66;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #C78F66;
  cursor: pointer;
}

.slideSection .section3Cover .slider .sliderBody .left .sliderText {
  height: 50%;
}

.slideSection .section3Cover .slider .sliderBody .right {
  height: 100%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: "";
      -ms-flex-align: "";
          align-items: "";
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.slideSection .section3Cover .slider .sliderBody .right .firstSlide {
  margin-top: 30px;
}

.slideSection .section3Cover .slider .sliderBody .right .carousel {
  height: 80%;
  width: 35%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slideSection .section3Cover .slider .sliderBody .right .carousel img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}

.slideSection .section3Cover .slider .sliderBody .right .secondSlide {
  width: 32%;
}

.slideSection .section3Cover .slider .sliderBody .bottom {
  position: absolute;
  bottom: 0;
  height: 10%;
  width: 100%;
  background: inherit !important;
}

.slideSection .section3Cover .slider .sliderBody .bottom .top {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  color: #C78F66;
}

.slideSection .section3Cover .slider .sliderBody .bottom .top span {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  background: #e0e0e0;
}

.slideSection .section3Cover .slider .sliderBody .bottom .top .active {
  background: #1F4753;
}

.slideSection .section3Cover .slider .sliderBody .bottom .bottom {
  background: #e0e0e0;
  height: 2px;
  border-radius: 50px;
}

.slideSection .section3Cover .slider .sliderBody .bottom .bottom div {
  height: 100%;
  width: 20%;
  background-color: #1F4753;
  border-radius: 30px;
}

.stories {
  color: #ffffff;
  text-align: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 130vh;
}

.stories .storiesBody {
  height: 70%;
  width: 100%;
  width: 100%;
  position: relative;
}

.stories .storiesBody .imgCover {
  height: 80%;
  width: 25%;
  top: 10%;
  position: absolute;
}

.stories .storiesBody .imgCover img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: translate3d(0, 150px, 0);
          transform: translate3d(0, 150px, 0);
}

.stories .storiesBody .img1 {
  left: 20%;
  -webkit-transform: rotateZ(25deg);
          transform: rotateZ(25deg);
  height: 75%;
  width: 20%;
}

.stories .storiesBody .img2 {
  left: 40%;
  z-index: 3;
}

.stories .storiesBody .img3 {
  left: 65%;
  -webkit-transform: rotateZ(-25deg);
          transform: rotateZ(-25deg);
  height: 75%;
  width: 20%;
}

.insights {
  height: 100%;
  width: 100%;
  background: url("../assets/images/insights.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.insights .cover {
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: brightness(75%);
          backdrop-filter: brightness(75%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.insights .storiesBody {
  height: 50%;
  width: 100%;
}

.awards {
  background-color: #000;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.awards .heading {
  width: 40%;
  text-align: center;
}

.awards .awardsBody {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
}

.awards .awardsBody .cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 30%;
  width: 30%;
}

.awards .awardsBody .cover img {
  height: 50%;
  width: 60%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 120vh;
}

.booking .form {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
}

.booking .form h2 {
  height: 10%;
}

.booking .form .bookingNav {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.booking .form .bookingNav p {
  margin-right: 30px;
}

.booking .form .formBody {
  height: 65%;
}

.booking .BookingImg {
  height: 100%;
  width: 50%;
  background: rgba(0, 0, 0, 0.4) url("../assets/images/bookingImg.jpg");
  background-position: center;
  background-size: cover;
}
