@font-face {
  font-family: 'Arial';
  src:  url('../assets/Fonts/Arial.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Arial';
  src: url('../assets/Fonts/Arial Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Graphik-Regular';
  src:  url('../assets/Fonts/Graphik-Regular.otf');
  font-weight: normal;
}
@font-face {
  font-family: 'Graphik-Black';
  src: url('../assets/Fonts/Graphik-Black.otf');
  font-weight: normal;
}
@font-face {
  font-family: 'Graphik-Bold';
  src: url('../assets/Fonts/Graphik-Bold.otf');
}
@font-face {
  font-family: 'Graphik';
  src: url('../assets/Fonts/Graphik-Extralight.otf');
}
@font-face {
  font-family: 'Graphik-light';
  src: url('../assets/Fonts/Graphik-Light.otf');
}
@font-face {
  font-family: 'Graphik-Medium';
  src: url('../assets/Fonts/Graphik-Medium.otf');
}
@font-face {
  font-family: 'Graphik-semiBold';
  src: url('../assets/Fonts/Graphik-Semibold.otf');
}

@font-face {
  font-family: 'Graphik-Super';
  src: url('../assets/Fonts/Graphik-Super.otf');
}
@font-face {
  font-family: 'Graphik-Thin';
  src: url('../assets/Fonts/Graphik-Thin.otf');
}
@font-face {
  font-family: 'LT_5500';
  src:  url('../assets/Fonts/LT_55700.ttf');
}
@font-face {
  font-family: 'LT_5501';
  src: url('../assets/Fonts/LT_55701.ttf');
}
@font-face {
  font-family: 'LT_5502';
  src: url('../assets/Fonts/LT_55702.ttf');
}
@font-face {
  font-family: 'Starling-Black';
  src:  url('../assets/Fonts/Starling-Black.otf');
  font-weight: 200;
}
@font-face {
  font-family: 'Starling-Ultra';
  src:  url('../assets/Fonts/Starling-Ultra.otf');
  font-weight: 300;
}
@font-face {
  font-family: 'Starling-Roman';
  src:  url('../assets/Fonts/Starling-Roman.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'Starling-Bold';
  src:  url('../assets/Fonts/Starling-Bold.otf');
  font-weight: bold;
}
@font-face {
  font-family: 'Starling';
  src:  url('../assets/Fonts/Starling-Book.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'Helvetica';
  src:  url('../assets/Fonts/Helvetica.ttc');
  font-weight: 500;
}

%block-margins {
  margin: 1em 0;
}

%heading-margins {
  margin: 1em 0 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: 'Starling';
}

/* headings */
h1 {
  font-weight: 350;
  font-size: 160px;
  line-height: 168px;
}
h2 {
  font-weight: 350;
  font-size: 80px;
  line-height: 88px;
}
h3 {
  font-family: 'Graphik';
  font-weight: 300;
  font-size: 80px;
  line-height: 88px;
}
h4 {
  font-family: 'Graphik';
  font-weight: 300;
  font-size: 60px;
  line-height: 68px;
}
h5 {
  font-family: 'Graphik-Medium';
  font-size: 55px;
  line-height: 120%;
}
h6 {
  font-family: 'Graphik';
  font-size: 40px;
  line-height: 48px;
}

// Others
ul, ol, pre {
  @extend %block-margins;
}

p {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

@include media('>smallLaptop','<desktop'){
  h1{
    font-size: 100px;
  }
  h2{
    font-size: 70px;
  }
  h3{
    font-size: 70px;
  }
  p{
    font-size: 14px;
    line-height: 19px;
  }
}
@include media('<=tablet'){
  h1{
    font-size: 100px;
  }
  h3{
    font-size: 70px;
  }
}